.topnav {
    overflow: hidden;
    background-color: rgb(126, 71, 76);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(255, 187, 187);
  }
  
  .topnav a.active {
    background-color: #f097ab;
    color: white;
  }
  h1 {
    color: rgb(255, 255, 255);
  text-align: center;
  font-family: Avocado Creamy;
  letter-spacing: 2px;
  font-size: 30px;
}
  h2 {
    color: rgb(255, 151, 151);
  text-align: center;
  font-family: Avocado Creamy;
  letter-spacing: 2px;
  font-size: 30px;
}
h3 {
    color: rgb(255, 151, 151);
    text-align: center;
}
p{
    color: #6d3030;
    text-align: center;
 }
 {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 15;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: rgb(112, 20, 20);
    padding: 2px 16px;
    color: rgb(224, 217, 217);
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: right;
    width: 45%;
  }
  .contact-row-form {
    text-align: center;
  }
  .form-group {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: #6d3030;
  } 
